<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button slot="end"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'timeTable' | string}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-accordion-group [value]="accordianVal" (ionChange)="accChange($event)">
      <ion-accordion value="colors" value="settings">
        <ion-item slot="header">
          <ion-label>{{'timeTable' | string}} {{'settings' | string}}</ion-label>
        </ion-item>
        <ion-list slot="content" class="m-0 p-0">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item id="open-date-input-1">
                  <ion-label position="fixed">{{'startDate' | string}}</ion-label>
                  <ion-input [value]="dateRange.start | date"></ion-input>
                  <ion-popover trigger="open-date-input-1" show-backdrop="false" [alignment]="'center'" side="top">
                    <ng-template>
                      <ion-datetime [min]="minDate" [showDefaultButtons]="true" #popoverDatetime1
                        [value]="dateRange.start" presentation="date"
                        (ionChange)="setStartDate(popoverDatetime1.value)"></ion-datetime>
                    </ng-template>
                  </ion-popover>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item id="open-date-input-2">
                  <ion-label position="fixed">{{'endDate' | string}}</ion-label>
                  <ion-input [value]="dateRange.end | date"></ion-input>
                  <ion-popover trigger="open-date-input-2" show-backdrop="false" [alignment]="'center'" side="top">
                    <ng-template>
                      <ion-datetime [min]="minDate" [showDefaultButtons]="true" #popoverDatetime2
                        [value]="dateRange.end" presentation="date" (ionChange)="setEndDate(popoverDatetime2.value)">
                      </ion-datetime>
                    </ng-template>
                  </ion-popover>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="floating">{{'department' | string}}</ion-label>
                  <ionic-selectable #portComponent [formControl]="departmentControl" [items]="availableDpts"
                    itemValueField="_id" itemTextField="name" [isMultiple]="false" [canSearch]="true"
                    closeButtonSlot="end" [shouldFocusSearchbar]="true" [shouldStoreItemValue]="false">
                    <ng-template ionicSelectableTitleTemplate>
                      {{'choose' | string}} {{'department' | string}}
                    </ng-template>
                    <ng-template ionicSelectableValueTemplate let-port="value">
                      {{departmentControl.value?.name}}
                    </ng-template>
                  </ionic-selectable>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="floating">{{'active' | string}} {{'classes' | string}}</ion-label>
                  <ionic-selectable #portComponent [formControl]="classesControl" [items]="availableClasses"
                    itemValueField="_id" itemTextField="nameLong" [isMultiple]="true" [canSearch]="true"
                    closeButtonSlot="end" [shouldFocusSearchbar]="true" [shouldStoreItemValue]="false">
                    <ng-template ionicSelectableTitleTemplate>
                      {{'choose' | string}} {{'classes' | string}}
                    </ng-template>
                    <ng-template ionicSelectableValueTemplate let-port="value">
                      {{classesControl.value?.length}} {{'selected' | string}}
                    </ng-template>
                  </ionic-selectable>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item>
                  <ion-label position="floating">{{'hoursCount' | string}}</ion-label>
                  <ion-input type="number" [formControl]="hoursCtrl"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="12" sizeMd="6" class="text-center mt-1">
                <ion-button (click)="onStart()" fill="outline"> {{'start' | string}} {{'creating' | string}}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>

  <ion-card *ngIf="showGrid">
    <ion-accordion-group [value]="tutorAccordian" (ionChange)="tutorAcccChange($event)">
      <ion-accordion value="colors" value="tutor">
        <ion-item slot="header">
          <ion-label>{{'available' | string}} {{'tutors' | string}}</ion-label>
        </ion-item>
        <ion-list slot="content" class="m-0 p-0  tutor-container">
          <ion-grid>
            <ion-row>
              <ion-col size="12" sizeMd="6">                
                <ion-item>
                  <ion-label position="floating">{{'customRole' | string}}</ion-label>
                  <ion-select #cRolesSelect interface="popover" [multiple]="true" [formControl]="rolesCtrl">
                    <ion-select-option *ngFor="let crole of customRoles" [value]="crole.value">{{crole.name | string}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="12" sizeMd="6">
                <ion-searchbar showCancelButton="focus" animated (ionChange)="searchTutor($event)"></ion-searchbar>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row [dragula]="dragulaName" id="tutor_list" [dragulaModel]="allFilteredTutorList">
              <div *ngFor="let t of allFilteredTutorList; let i = index;" class="tutor-draggable" [id]="t._id">
                <ion-item>
                  <img [src]="t.image || 'assets/images/avatar.png'" class="tutor-avatar" />
                  <ion-label class="mx-1">
                    <h2>{{t.name}}</h2>
                  </ion-label>
                  <ion-icon name="reorder-three-outline" class="drag-handle"></ion-icon>
                </ion-item>
              </div>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>

  <ion-card *ngIf="showGrid">
    <ion-card-header>
      <ion-card-title class="valign-center ion-justify-content-between">
        <ion-label>
          {{'allocationGrid' | string}}
        </ion-label>
        <ion-button class="ml-1" (click)="resetGrid()" fill="outline" size="small" color="danger"> {{'resetGrid' |
          string}}
        </ion-button>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="p-0" style="padding: 0px;">
      <ion-grid>
        <ion-row class="ion-nowrap hori-scroller">
          <ion-col class="class-area" *ngFor="let allocation of allocationData">
            <div class="class-header">
              <h2 class="ion-text-center font-bold">{{'class' | string}} {{allocation.class['name']}}</h2>
            </div>
            <div class="droppers">
              <div class="dropable-area overflow-hidden" *ngFor="let hour of getRangeArray(finalHoursCount)"
                [dragula]="dragulaName" [dragulaModel]="allocationData" [id]="allocation.class['_id'] + '-' + hour"
                [ngClass]="{nonDroppable: getClassHourAllocation(allocation.class['_id'], hour)}">
                <div *ngIf="!getClassHourAllocation(allocation.class['_id'], hour)" class="drop-column"
                  [ngClass]="{'allowedDrop' : dragging && !checkIsHourAllocated(hour), 'invalidDrop': dragging && checkIsHourAllocated(hour)}">
                  <span class="valign">
                    <!-- {{allocation.class['name']}} {{'hour' | string}} {{hour + 1}} -->
                    <p-inplace #editor>
                      <ng-template pTemplate="display">
                        <span class="font-bold mr-1">
                          {{
                          getCustomHourText(allocation.class['_id'], hour) ?
                          getCustomHourText(allocation.class['_id'], hour) + ' -' :
                          allocation.class['name']
                          }} {{'hour' | string}} {{hour + 1}}</span>
                        <ion-icon name="create-outline"></ion-icon>
                      </ng-template>
                      <ng-template pTemplate="content">
                        <span class="v-center">
                          <input placeholder="{{'enterCustomText' | string}}" type="text"
                            [value]="getCustomHourText(allocation.class['_id'], hour) " pInputText #customVal
                            (input)="setCustomHourText(allocation.class['_id'], hour, customVal.value)" (blur)="editor.deactivate()">
                          <ion-icon name="checkmark-circle" size="large" color="success" class="cursor-pointer"
                            (click)="editor.deactivate()">
                          </ion-icon>
                        </span>
                      </ng-template>
                    </p-inplace>
                  </span>
                </div>
                <div *ngIf="getClassHourAllocation(allocation.class['_id'], hour)" class="allocated-tutor">
                  <ion-item>
                    <img
                      [src]="getClassHourTutotr(allocation.class['_id'], hour)['image'] || 'assets/images/avatar.png'"
                      class="tutor-avatar" />
                    <ion-label class="mx-1">
                      <h2>{{getClassHourTutotr(allocation.class['_id'], hour)['name']}}</h2>
                    </ion-label>
                    <ion-icon name="trash-outline" class="cursor-pointer"
                      (click)="removeClassHourAllocation(allocation.class['_id'], hour)" color="danger">
                    </ion-icon>
                  </ion-item>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer *ngIf="showGrid">
  <ion-button type="submit" size="block" class="mt-1" (click)="onSubmit()">
    <span *ngIf="!loading">{{'submit' | string}}</span>
    <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
  </ion-button>
</ion-footer>