.drop-column {
    background: repeating-linear-gradient(-55deg,
            #222,
            #222 10px,
            #333 10px,
            #333 20px);
    border-radius: 5px;
    border: 1px solid #333;
    text-align: center !important;
    color: #c0bfbf;
    font-weight: 700;
    height: 53px;

    .valign {
        position: relative;
        top: 25%;
    }

    .p-inplace-display {
        
    font-weight: 700 !important;
    }

}



.allowedDrop {
    background: repeating-linear-gradient(-55deg,
            #2e4915,
            #2e4915 10px,
            #333 10px,
            #333 20px);
    color: white;
}

.invalidDrop {
    background: repeating-linear-gradient(-55deg,
            #4d1b1b,
            #4d1b1b 10px,
            #333 10px,
            #333 20px);
    color: white;
}

.tutor-container {
    max-height: 50vh;
    overflow: auto;

    .tutor-draggable {
        margin: 3px;
    }
}

.hori-scroller {
    flex-wrap: nowrap;
    overflow-x: auto !important;
    overflow-y: hidden;
}

.class-area {
    background-color: var(--ion-color-step-100);
    border-radius: 5px;
    margin: 2px;

}

.tutor-draggable {
    background-color: var(--ion-color-step-100);
    border-radius: 5px;
    height: 100%;
    padding: 2px;
}

.drag-handle {
    cursor: grab;
}

.drag-over {
    .drop-column {
        display: none;
    }
}

.tutor-avatar {
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.allocated-tutor {    
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-item {
        width: 100%;
    }

}