.drop-column {
    background: repeating-linear-gradient(-55deg,
            #222,
            #222 10px,
            #333 10px,
            #333 20px);
    border-radius: 5px;
    border: 1px solid #333;
    text-align: center !important;
    color: #8c8c8c;
    font-weight: 700;
    height: 53px;

    .valign {
        position: relative;
        top: 25%;
    }

}

.tutor-container {
    max-height: 50vh;

    .tutor-draggable {
        margin: 3px;
    }
}

.hori-scroller {
    flex-wrap: nowrap;
    overflow-x: auto !important;
    overflow-y: hidden;
}

.class-area {
    background-color: var(--ion-color-step-100);
    border-radius: 5px;
    margin: 2px;

}

.tutor-draggable {
    background-color: var(--ion-color-step-100);
    border-radius: 5px;
    height: 100%;
    padding: 2px;
}

.drag-handle {
    cursor: grab;
}

.drag-over {
    .drop-column {
        display: none;
    }
}

.tutor-avatar {
    height: 20px;
}