<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button slot="end"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'department' | string}} {{'list' | string}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-row class="v-center ion-justify-content-between">
    <ion-col size="auto" class="ion-text-start">
      <h6>{{'departments' | string}} {{'under' | string}} {{(collegeService.currentCollege$ | async)?.name}}</h6>
    </ion-col>
    <ion-col size="auto" class="ion-text-end">
      <ion-button color="primary" size="small" [routerLink]="['/', 'department', 'manage']">
        <ion-icon name="add"></ion-icon>
        {{'create' | string}}
      </ion-button>
    </ion-col>
  </ion-row>
  <p-table responsiveLayout="stack" [value]="departmentsData">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>{{'name' | string}}</th>
            <th>{{'description' | string}}</th>
            <th>{{'admins' | string}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-columns="columns">
        <tr>
            <td><span class="p-column-title">{{'name' | string}}</span>
              <a [routerLink]="['/', 'department', 'manage', item._id]">{{item.name}}</a>
            </td>
            <td><span class="p-column-title">{{'description' | string}}</span>{{item.description}}</td>
            <td><span class="p-column-title">{{'admins' | string}}</span>{{getAdminNames(item)}}</td>
        </tr>
    </ng-template>
</p-table>
</ion-card>
</ion-content>
