<ion-card *ngIf="!loading">
    <ion-card-header>
        <ion-card-title>
            {{'notification' | string}} {{'list' | string}}
        </ion-card-title>
        <ion-card-subtitle *ngIf="currentBreakPoint !== 'medium'">
            {{'swipeLeftToSeeMore' | string}}
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="padd">
        <ion-list>
            <ion-item-sliding [disabled]="currentBreakPoint === 'medium'" *ngFor="let notification of allNotifications">
                <ion-item button (click)="openNotification(notification)">
                    <ion-icon
                        [name]="notification.type === eNotificationType.notification ? 'notifications' : 'calendar'"
                        slot="start"></ion-icon>
                    <ion-label>
                        <h2>
                            {{notification.title}}
                            <ion-icon name="document" *ngIf="notification.attachment?.length" color="primary"
                                class="mr-1">
                            </ion-icon>
                        </h2>
                        <p>{{getStringFromHtml(notification.content)}}</p>
                    </ion-label>
                    <ion-note slot="end">
                        <p class="ion-justify-content-end v-center">
                            {{notification.createdAt | date: 'd/M/yy hh:mm a'}}
                        </p>
                        <p class="ion-justify-content-end v-center">
                            <ion-icon name="person" class="ml-1"></ion-icon>
                            {{getCreatedByUser(notification)}}
                            <span *ngIf="currentBreakPoint === 'medium'">
                                <ion-button fill="clear" (click)="onEdit(notification, $event)">
                                    <ion-icon name="pencil" color="warning"></ion-icon>
                                </ion-button>
                                <ion-button fill="clear" (click)="onDelete(notification, $event)">
                                    <ion-icon name="trash" color="danger"></ion-icon>
                                </ion-button>
                            </span>
                        </p>
                    </ion-note> 
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option (click)="onEdit(notification, $event)" color="warning">
                        <ion-icon slot="top" name="pencil"></ion-icon>
                    </ion-item-option> 
                    <ion-item-option color="danger" (click)="onDelete(notification, $event)">
                        <ion-icon slot="top" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ion-card-content>
</ion-card>