<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button slot="end"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'college' | string}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row class="v-center">
      <ion-col class="ion-text-start">
        <h3>{{'college' | string }} {{'list' | string }}</h3>
      </ion-col>
    </ion-row>
    <p-table responsiveLayout="stack" [value]="collegeData" [loading]="loading">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>{{'name' | string}}</th>
          <th>{{'address' | string}}</th>
          <th>{{'phone' | string}}</th>
          <th>{{'website' | string}}</th>
          <th>{{'admins' | string}}</th>
          <th>{{'status' | string}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-college let-columns="columns">
        <tr>
          <td><span class="p-column-title">
            {{'name' | string}}</span>
            <a [routerLink]="['/', 'college', 'manage', college._id]">
              {{college.name}}
            </a>
          </td>
          <td><span class="p-column-title">{{'address' | string}}</span>{{college.address}}</td>
          <td><span class="p-column-title">{{'phone' | string}}</span>{{college.phone}}</td>
          <td><span class="p-column-title">{{'website' | string}}</span>{{college.website}}</td>
          <td><span class="p-column-title">{{'admins' | string}}</span><span>
            <ion-chip color="primary" *ngFor="let admin of college.admins">
              <ion-label>{{admin.name}}</ion-label>
            </ion-chip>
          </span></td>
          <td *ngIf="college.status === eRequestStatus.pending">
            <span class="p-column-title">{{'status' | string}}</span>
            <ion-button color="success" size="small" (click)="onStatusChange(eRequestStatus.active, college._id)">
              {{'approve' | string}}</ion-button>
            <ion-button color="danger" size="small" (click)="onStatusChange(eRequestStatus.rejected, college._id)">
              {{'reject' | string}}</ion-button>
          </td>
          <td *ngIf="college.status === eRequestStatus.active">
            <span class="p-column-title">{{'status' | string}}</span>
            <ion-badge mode="ios" color="success" class="v-center">{{'approved' | string}} 
              <ion-icon name="checkmark-circle-outline" size="small"></ion-icon>
            </ion-badge>
          </td>
          <td *ngIf="college.status === eRequestStatus.rejected">
            <span class="p-column-title">{{'status' | string}}</span>
            <ion-badge mode="ios" color="danger" class="v-center">{{'rejected' | string}} 
              <ion-icon name="close-circle-outline" size="small"></ion-icon>
            </ion-badge>
          </td>          
        </tr>
      </ng-template>
    </p-table>
  </ion-card>
</ion-content>