<ion-card>
  <ion-card-header>
    <ion-card-title>{{'users' | string}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-accordion-group (ionChange)="onUserOpen($event)" value="">
      <ion-accordion value="faculty">
        <ion-item slot="header">
          <ion-label>{{'faculties' | string}}</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ng-container *ngIf="!accordianLoading; else loadingTemplate">
            <p-listbox [options]="allFaculties" [(ngModel)]="selectedUsers" [metaKeySelection]="false" [checkbox]="true"
              [filter]="true" [multiple]="true" optionLabel="userName" [listStyle]="{'max-height':'300px'}"
              filterPlaceHolder="{{'search' | string}}">
              <ng-template let-country pTemplate="item">
                <div class="country-item">
                  <div>{{country.userName}}</div>
                </div>
              </ng-template>
            </p-listbox>
          </ng-container>
        </ion-list>
      </ion-accordion>
      <ion-accordion value="student">
        <ion-item slot="header">
          <ion-label>{{'students' | string}}</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ng-container *ngIf="!accordianLoading; else loadingTemplate">
            <p-listbox [options]="allStudents" [(ngModel)]="selectedUsers" [metaKeySelection]="false" [checkbox]="true"
              [filter]="true" [multiple]="true" optionLabel="userName" [listStyle]="{'max-height':'300px'}"
              filterPlaceHolder="{{'search' | string}}">
              <ng-template let-country pTemplate="item">
                <div class="country-item">
                  <div>{{country.userName}}</div>
                </div>
              </ng-template>
            </p-listbox>
          </ng-container>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card-content>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="onMapClick()">{{'map' | string}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" [disabled]="!selectedUsers.length" (click)="onOptionsClick()">{{'options' |
        string}}</ion-button>
    </ion-col>
  </ion-row>
  <div class="invisible-component">
    <ionic-selectable #modal [items]="availableUsersToChoose" [(ngModel)]="selectedModalUsers" itemValueField="_id"
      itemTextField="userName" [isMultiple]="true" [canSearch]="true" closeButtonSlot="end"
      [shouldStoreItemValue]="false">
      <ng-template ionicSelectableTitleTemplate>
        {{'choose' | string}} {{'users' | string}}
      </ng-template>
    </ionic-selectable>
  </div>
</ion-card>


<!-- loading template -->
<ng-template #loadingTemplate>
  <ion-row class="v-center">
    <ion-col class="text-center scrollbox-custom">
      <ion-spinner name="dots" *ngIf="accordianLoading"></ion-spinner>
      <ion-label *ngIf="!accordianLoading">{{'noItemsToShow' | string}}</ion-label>
    </ion-col>
  </ion-row>
</ng-template>