<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{'import' | string}} {{role | string}}</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-page">
    <ion-grid *ngIf="!userData.length; else uploading" class="ion-justify-content-center ion-align-items-center flex-dir-column">
      <ion-row class="ion-justify-content-center">
        <img src="assets/images/user.webp" alt="" class="img-w-50">
      </ion-row>
      <ion-row>        
        <span><a [href]="'assets/images/users.xlsx'" target="_blank" download="user.xlsx">{{'downloadTemplateText' | string}}</a></span>
      </ion-row>
      <ion-row class="mt-3">
        <ion-item>
          <!-- <ion-label position="stacked">{{'uploadFile' | string}}</ion-label> -->
          <input type="file" (change)="onFileChoose($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
        </ion-item>
      </ion-row>
    </ion-grid>
    <ng-template #uploading>
      <ion-grid class="ion-justify-content-center ion-align-items-center flex-dir-column">
        <ion-row>
          {{'uploading' | string}} {{userData?.length}} {{'users' | string}}
            <ion-progress-bar class="mt-3" type="indeterminate"></ion-progress-bar>
        </ion-row>
      </ion-grid>
    </ng-template>
  </div>
</ion-content>