<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button slot="end"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'department' | string}} {{'manage' | string}}</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="currentBreakPoint !== 'medium'">
    <ion-segment (ionChange)="onChangeSegment($event)" [swipeGesture]="true" [value]="segmentValue">
      <ion-segment-button value="home">
        <ion-label>{{'home' | string}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="edit">
        <ion-label>{{'edit' | string}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="position-relative">
  <ion-row class="h-100">
    <ion-col size-md="8" *ngIf="(currentBreakPoint === 'medium') || (segmentValue === 'home')">
      <ng-container *ngIf="isUpdate; else createTemplate">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{'users' | string}} {{'management' | string | lowercase}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-accordion-group (ionChange)="onUserOpen($event)">
              <ion-accordion value="faculty">
                <ion-item slot="header">
                  <ion-label>{{'faculties' | string}}</ion-label>
                </ion-item>
                <ion-list slot="content">
                  <ng-container *ngIf="!accordianLoading; else loadingTemplate">
                    <p-listbox [options]="allFaculties" [(ngModel)]="selectedFaculties" [metaKeySelection]="false"
                      [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="userName"
                      [listStyle]="{'max-height':'300px'}" filterPlaceHolder="{{'search' | string}}">
                      <ng-template let-country pTemplate="item">
                        <div class="country-item">
                          <div>{{country.userName}}</div>
                        </div>
                      </ng-template>
                    </p-listbox>
                  </ng-container>
                </ion-list>
              </ion-accordion>
              <ion-accordion value="student">
                <ion-item slot="header">
                  <ion-label>{{'students' | string}}</ion-label>
                </ion-item>
                <ion-list slot="content">
                  <ng-container *ngIf="!accordianLoading; else loadingTemplate">
                    <p-listbox [options]="allStudents" [(ngModel)]="selectedStudents" [metaKeySelection]="false"
                      [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="userName"
                      [listStyle]="{'max-height':'300px'}" filterPlaceHolder="{{'search' | string}}">
                      <ng-template let-country pTemplate="item">
                        <div class="country-item">
                          <div>{{country.userName}}</div>
                        </div>
                      </ng-template>
                    </p-listbox>
                  </ng-container>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="onMapClick()">{{'map' | string}}</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="onOptionsClick()">{{'options' | string}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ng-container>
    </ion-col>
    <ion-col size-md="4" size="12" [class]="currentBreakPoint === 'medium' ? 'bg-dark' : ''"
      *ngIf="(currentBreakPoint === 'medium') || (segmentValue === 'edit')">
      <div class="text-center mt-3">
        <h4>{{(isUpdate ? 'update' : 'create') | string}} {{'department' | string}}</h4>
      </div>
      <form [formGroup]="dptForm">
        <ion-col size="12">
          <ion-item class="">
            <ion-label position="floating">{{'name' | string}}</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <small class="text-danger" *ngIf="f.name.errors?.required && (f.name.touched || showErrors)">{{'name' |
            string}}
            {{'isRequired' | string}}</small>
        </ion-col>
        <ion-col size="12">
          <ion-item class="mt-1">
            <ion-label position="floating">{{'description' | string}}</ion-label>
            <ion-input type="text" formControlName="description"></ion-input>
          </ion-item>
          <small class="text-danger"
            *ngIf="f.description.errors?.required && (f.description.touched || showErrors)">{{'description' | string}}
            {{'isRequired' | string}}</small>
        </ion-col>
        <ion-col size="12">
          <ion-item class="mt-1">
            <ion-label position="floating">{{'admins' | string}}</ion-label>
            <ionic-selectable #portComponent formControlName="admins" [items]="availableFaculties" itemValueField="_id"
              itemTextField="userName" [isMultiple]="true" [canSearch]="true" closeButtonSlot="end"
              [shouldFocusSearchbar]="true" [shouldStoreItemValue]="true">
              <ng-template ionicSelectableTitleTemplate>
                {{'choose' | string}} {{'admins' | string}}
              </ng-template>
              <!-- <ng-template ionicSelectablePlaceholderTemplate>
                {{f.admins.value ? f.admins.value.length : 0}} {{'selected' | string}}
              </ng-template> -->
              <ng-template ionicSelectableValueTemplate let-port="value">
                {{f.admins.value ? f.admins.value.length : 0}} {{'selected' | string}}
              </ng-template>
            </ionic-selectable>
          </ion-item>
          <small class="text-danger" *ngIf="f.admins.errors?.required && (f.admins.touched || showErrors)">{{'admins' |
            string}}
            {{'isRequired' | string}}</small>
        </ion-col>
        <ion-col size="12">
          <ion-item class="mt-1" button>
            <app-image-upload class="v-100" formControlName="image"></app-image-upload>
          </ion-item>
        </ion-col>
        <ion-col size="12" *ngIf="currentBreakPoint === 'medium'">
          <ion-button type="submit" size="block" class="mt-1" (click)="onSubmit()">
            <span *ngIf="!loading">{{'submit' | string}}</span>
            <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
          </ion-button>
        </ion-col>
      </form>
    </ion-col>
  </ion-row>
  <div class="invisible-component">
    <ionic-selectable #modal [items]="availableUsersToChoose" [(ngModel)]="selectedModalUsers" itemValueField="_id"
      itemTextField="userName" [isMultiple]="true" [canSearch]="true" closeButtonSlot="end" [shouldStoreItemValue]="false">
      <ng-template ionicSelectableTitleTemplate>
        {{'choose' | string}} {{'users' | string}}
      </ng-template>
    </ionic-selectable>
  </div>
</ion-content>

<ion-footer *ngIf="currentBreakPoint !== 'medium' && segmentValue === 'edit'">
  <ion-button type="submit" size="block" class="mt-1" (click)="onSubmit()">
    <span *ngIf="!loading">{{'submit' | string}}</span>
    <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
  </ion-button>
</ion-footer>

<ng-template #createTemplate>
  <ion-row class="v-center">
    <ion-col class="text-center">
      <img src="assets/images/department.webp" alt="" style="max-height: 70vh;">
    </ion-col>
  </ion-row>
</ng-template>

<!-- loading template -->
<ng-template #loadingTemplate>
  <ion-row class="v-center">
    <ion-col class="text-center scrollbox-custom">
      <ion-spinner name="dots" *ngIf="accordianLoading"></ion-spinner>
      <ion-label *ngIf="!accordianLoading">{{'noItemsToShow' | string}}</ion-label>
    </ion-col>
  </ion-row>
</ng-template>