<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'schedule' | string}} {{'details' | string}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row class="v-center">
      <ion-col size="5" class="v-center h-100">
        <img [src]="currentResource?.image ? currentResource?.image : 'assets/images/resource.png'" alt=""
          class="card-image">
      </ion-col>
      <ion-col size="7" class="ion-justify-content-between ">
        <h3>
          <ion-text color="dark">{{currentResource?.name}}</ion-text>
        </h3>
        <p>
          <ion-text>{{currentResource?.description}}</ion-text>
        </p>
        <div class="ion-justify-content-start flex-dir-column" *ngIf="currentSchedule">
          <span class="mr-1 ion-align-items-start">
            <ion-icon name="person" class="mr-1"></ion-icon>
            {{getCreatedByUser(currentSchedule)}}
          </span>
          <span class="ion-align-items-start">
            <ion-icon name="time" class="mr-1"></ion-icon>
            {{currentSchedule?.createdAt | date: 'd/M/yyyy hh:mm a'}}
          </span>
        </div>
      </ion-col>
    </ion-row>
    <form [formGroup]="scheduleForm">
      <ion-row>
        <ion-col size="12">
          <ion-item class="mt-1">
            <ion-label position="floating">{{'usage' | string}} {{'description' | string}}</ion-label>
            <ion-input [disabled]="!editable" type="text" formControlName="description"></ion-input>
          </ion-item>
          <small class="text-danger"
            *ngIf="f.description.errors?.required && (f.description.touched || showErrors)">{{'description' |
            string}} {{'isRequired' | string}}</small>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="fixed">{{'startTime' | string}}</ion-label>
            <ion-input [readonly]="!editable" id="open-date-input-1" [value]="startTime | date: config.commonLongDateTimeFormat" readonly>
            </ion-input>
            <ion-popover trigger="open-date-input-1" show-backdrop="false" [alignment]="'center'" side="top"
              style="--offset-y: -150px">
              <ng-template>
                <ion-datetime #popoverDatetime1 [value]="startTime" presentation="time-date" [min]="minTime" [disabled]="!editable"
                  (ionChange)="startTime = getIsoDate(popoverDatetime1.value)" [showDefaultButtons]="true"></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item id="open-date-input-2">
            <ion-label position="fixed">{{'endTime' | string}}</ion-label>
            <ion-input [readonly]="!editable" [value]="endTime | date: config.commonLongDateTimeFormat" readonly></ion-input>
            <ion-popover trigger="open-date-input-2" show-backdrop="false" [alignment]="'center'" side="top"
              style="--offset-y: -150px">
              <ng-template>
                <ion-datetime #popoverDatetime2 [value]="endTime" presentation="time-date" [min]="minTime" [disabled]="!editable"
                  (ionChange)="endTime = getIsoDate(popoverDatetime2.value)" [showDefaultButtons]="true"></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>

<ion-footer *ngIf="editable && hasUpdatePermission">
  <ion-button type="submit" size="block" class="mt-1" (click)="onSubmit()">
    <span *ngIf="!loading">{{currentSchedule ? 'update' : 'submit' | string}}</span>
    <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
  </ion-button>
</ion-footer>