<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button slot="end"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'room' | string}} {{'list' | string}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row class="v-center ion-justify-content-between">
      <ion-col size="auto" class="ion-text-start">
        <h6 *ngIf="(this.config.isAdmin || this.config.departmentAdmin); else myRooms">{{'rooms' | string}} {{'under' | string}} {{(collegeService.currentCollege$ | async)?.name}}</h6>
        <ng-template #myRooms><h6>{{'your' | string}} {{'rooms' | string}}</h6></ng-template>        
      </ion-col>
      <ion-col size="auto" class="ion-text-end">
        <ion-button color="primary" size="small" [routerLink]="['/', 'room', 'manage']">
          <ion-icon name="add"></ion-icon>
          {{'create' | string}}
        </ion-button>
      </ion-col>
    </ion-row>
    <p-table responsiveLayout="stack" [value]="roomsData">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>{{'name' | string}}</th>
          <th>{{'description' | string}}</th>
          <th>{{'admins' | string}}</th>
          <th>{{'createdBy' | string}}</th>
          <th>{{'createdAt' | string}}</th>
          <th>{{'privacy' | string}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-columns="columns">
        <tr>
          <td><span class="p-column-title">{{'name' | string}}</span>
            <a [routerLink]="['/', 'room', 'manage', item._id]">{{item.name}}</a>
          </td>
          <td><span class="p-column-title">{{'description' | string}}</span>{{item.description}}</td>
          <td><span class="p-column-title">{{'admins' | string}}</span>{{getAdminNames(item)}}</td>
          <td><span class="p-column-title">{{'createdBy' | string}}</span>{{item.createdBy?.name}}</td>
          <td>
            <span class="p-column-title">{{'createdAt' | string}}</span>
            {{item.createdAt | date: config.commonDateTimeFormat}}
          </td>
          <td>
            <span class="p-column-title">{{'privacy' | string}}</span>
            <ion-badge mode="ios" [color]="item.private ? 'success' : 'primary'" class="v-center">
              {{(item.private ? 'private' : 'public') | string}}
              <ion-icon [name]="'lock-' + (item.private ? 'closed' : 'open') + '-outline'" size="small"></ion-icon>
            </ion-badge>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ion-card>
</ion-content>