<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button slot="end"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'notifications' | string}} {{'manage' | string}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="notificationForm">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{'basic' | string}} {{'details' | string}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="12" class="mt-1">
            <ion-item>
              <ion-label>{{'title' | string}}: </ion-label>
              <ion-input type="text" formControlName="title"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" class="mt-1">
            <ion-item button [detail]="false">
              <app-file-upload class="v-100" formControlName="attatchement" [previewUrl]=""></app-file-upload>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="mt-1" button [detail]="false">
              <ion-label (click)="modeToggle.checked = !modeToggle.checked">{{'thisIsAnEvent' | string}}: </ion-label>
              <ion-toggle #modeToggle slot="end" (ionChange)="onChangeType($event)"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card style="overflow: visible;">
      <ion-card-header>
        <ion-card-title>
          {{'content' | string}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <quill-editor [modules]="quillModules" [styles]="{minHeight: '15vh'}" formControlName="content"></quill-editor>
      </ion-card-content>
    </ion-card>
  </form>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{'targets' | string}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-item class="mt-1" button [detail]="false">
            <ion-label (click)="sendToggle.checked = !sendToggle.checked">{{'target' | string}} {{'to' | string}}
              {{'college' | string}}
            </ion-label>
            <ion-toggle #sendToggle slot="end" [(ngModel)]="sendToCollege" [ngModelOptions]="{standalone: true}">
            </ion-toggle>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-item class="mt-1">
            <ion-label position="floating">{{'departments' | string}}</ion-label>
            <ionic-selectable #portComponent [items]="['availableFaculties']" itemValueField="_id"
              itemTextField="userName" [isMultiple]="true" [canSearch]="true" closeButtonSlot="end"
              [shouldFocusSearchbar]="true" [shouldStoreItemValue]="true">
              <ng-template ionicSelectableTitleTemplate>
                {{'choose' | string}} {{'admins' | string}}
              </ng-template>
              <ng-template ionicSelectableValueTemplate let-port="value">
                {{port.admins.value ? port.admins.value.length : 0}} {{'selected' | string}}
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-item class="mt-1">
            <ion-label position="floating">{{'batches' | string}}</ion-label>
            <ionic-selectable #portComponent [items]="['availableFaculties']" itemValueField="_id"
              itemTextField="userName" [isMultiple]="true" [canSearch]="true" closeButtonSlot="end"
              [shouldFocusSearchbar]="true" [shouldStoreItemValue]="true">
              <ng-template ionicSelectableTitleTemplate>
                {{'choose' | string}} {{'admins' | string}}
              </ng-template>
              <ng-template ionicSelectableValueTemplate let-port="value">
                {{port.admins.value ? port.admins.value.length : 0}} {{'selected' | string}}
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-item class="mt-1">
            <ion-label position="floating">{{'classes' | string}}</ion-label>
            <ionic-selectable #portComponent [items]="['availableFaculties']" itemValueField="_id"
              itemTextField="userName" [isMultiple]="true" [canSearch]="true" closeButtonSlot="end"
              [shouldFocusSearchbar]="true" [shouldStoreItemValue]="true">
              <ng-template ionicSelectableTitleTemplate>
                {{'choose' | string}} {{'admins' | string}}
              </ng-template>
              <ng-template ionicSelectableValueTemplate let-port="value">
                {{port.admins.value ? port.admins.value.length : 0}} {{'selected' | string}}
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-item class="mt-1">
            <ion-label position="floating">{{'rooms' | string}}</ion-label>
            <ionic-selectable #portComponent [items]="['availableFaculties']" itemValueField="_id"
              itemTextField="userName" [isMultiple]="true" [canSearch]="true" closeButtonSlot="end"
              [shouldFocusSearchbar]="true" [shouldStoreItemValue]="true">
              <ng-template ionicSelectableTitleTemplate>
                {{'choose' | string}} {{'admins' | string}}
              </ng-template>
              <ng-template ionicSelectableValueTemplate let-port="value">
                {{port.admins.value ? port.admins.value.length : 0}} {{'selected' | string}}
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-item class="mt-1">
            <ion-label position="floating">{{'custom' | string}} {{'users' | string}}</ion-label>
            <ionic-selectable #portComponent [items]="['availableFaculties']" itemValueField="_id"
              itemTextField="userName" [isMultiple]="true" [canSearch]="true" closeButtonSlot="end"
              [shouldFocusSearchbar]="true" [shouldStoreItemValue]="true">
              <ng-template ionicSelectableTitleTemplate>
                {{'choose' | string}} {{'admins' | string}}
              </ng-template>
              <ng-template ionicSelectableValueTemplate let-port="value">
                {{port.admins.value ? port.admins.value.length : 0}} {{'selected' | string}}
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'schedule' | string}} {{'notification' | string}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-item class="mt-1" button [detail]="false">
            <ion-label (click)="scheduleToggle.checked = !scheduleToggle.checked">{{'publishInstantly' | string}}
            </ion-label>
            <ion-toggle #scheduleToggle slot="end" [(ngModel)]="sendInstantly" [ngModelOptions]="{standalone: true}">
            </ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center" [hidden]="scheduleToggle.checked">
        <ion-col size="12" size-lg="6">
          <ion-label>{{'choose' | string}} {{'dateAndTime' | string}}</ion-label>
          <ion-datetime [formControl]="sendSchedule" size="cover" [min]="currentTime" max="2999"></ion-datetime>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="mt-1">
          <ion-button type="submit" size="block" class="mt-1" (click)="onSubmit()">
            <span *ngIf="!loading">{{'publish' | string}}</span>
            <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>