<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-label>
                    {{'active' | string}} {{'timeTables' | string}}
                </ion-label>
            </ion-card-title>
            <ion-card-subtitle class="valign-center">
                {{departmentControl.value['name']}} {{'department' | string}}
                <ion-button class="ml-1" *ngIf="config.isAdmin" (click)="onChangeClick()" fill="clear" size="small"
                    color="primary">
                    {{'change' | string}}
                </ion-button>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ng-container *ngFor="let timeTable of activeTimeTables">
                <div class="container" [id]="timeTable._id + '-active'">
                    <p-table #activeTable [value]="[].constructor(timeTable.hoursCount)"
                        styleClass="p-datatable-gridlines mt-1" responsiveLayout="scroll">
                        <ng-template pTemplate="caption">
                            <div class="valign-center ion-justify-content-between">
                                <span>
                                    <span class="show-when-downloading" style="display: none;">
                                        {{departmentControl.value['name']}} {{'department' | string}},
                                    </span>
                                    <span #tdate>
                                        {{timeTable.schedule.start | date:
                                        config.commonLongDateFormat}}
                                        <span
                                            *ngIf="(timeTable.schedule.start | date: config.commonDateFormat) !== (timeTable.schedule.end | date: config.commonDateFormat)">-
                                            {{timeTable.schedule.end | date: config.commonLongDateFormat}}</span>
                                    </span>
                                </span>
                                <span class="buttons-actions hide-when-downloading">
                                    <ion-button (click)="exportAsImage(timeTable._id + '-active', tdate.innerText)"
                                        fill="clear" size="small" color="primary">
                                        <ion-icon name="download-outline" slot="icon-only" size="small"></ion-icon>
                                    </ion-button>
                                    <ion-button *ngIf="config.isAdmin || config.isHOD"
                                        [routerLink]="['/time-table/create', timeTable._id]" fill="clear" size="small"
                                        color="warning">
                                        <ion-icon name="create-outline" slot="icon-only" size="small"></ion-icon>
                                    </ion-button>
                                    <ion-button *ngIf="config.isAdmin || config.isHOD"
                                        (click)="deleteTimeTable(timeTable._id)" fill="clear" size="small"
                                        color="danger">
                                        <ion-icon name="trash-outline" slot="icon-only" size="small"></ion-icon>
                                    </ion-button>
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th width="50px">{{'hour' | string}}</th>
                                <th *ngFor="let class of timeTable.classes">{{'class' | string}} {{class.class['name']}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td>{{rowIndex + 1}}</td>
                                <td *ngFor="let class of timeTable.classes">{{getClassHourAllocation(class.class['_id'],
                                    rowIndex, timeTable._id)}}</td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>
            </ng-container>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="remainingTimeTables?.length">
        <ion-card-header>
            <ion-card-title>
                <ion-label>
                    {{'inactive' | string}} {{'timeTables' | string}}
                </ion-label>
            </ion-card-title>
        </ion-card-header>
        <ion-accordion-group>
            <ion-accordion [value]="timeTable._id" *ngFor="let timeTable of remainingTimeTables">
                <ion-item slot="header">
                    <ion-label>
                        {{timeTable.schedule.start | date: config.commonLongDateFormat}}
                        <span
                            *ngIf="(timeTable.schedule.start | date: config.commonDateFormat) !== (timeTable.schedule.end | date: config.commonDateFormat)">-
                            {{timeTable.schedule.end | date: config.commonLongDateFormat}}</span>
                    </ion-label>
                </ion-item>
                <ion-list slot="content" [id]="timeTable._id + '-inactive'">
                    <ion-card-content>
                        <p-table #activeTable [value]="[].constructor(timeTable.hoursCount)"
                            styleClass="p-datatable-gridlines mt-1" responsiveLayout="scroll">
                            <ng-template pTemplate="caption">
                                <div class="valign-center ion-justify-content-between">
                                    <span>
                                        <span class="show-when-downloading" style="display: none;">
                                            {{departmentControl.value['name']}} {{'department' | string}},
                                        </span>
                                        <span #tdate>
                                            {{timeTable.schedule.start | date:
                                            config.commonLongDateFormat}}
                                            <span
                                                *ngIf="(timeTable.schedule.start | date: config.commonDateFormat) !== (timeTable.schedule.end | date: config.commonDateFormat)">-
                                                {{timeTable.schedule.end | date: config.commonLongDateFormat}}</span>
                                        </span>
                                    </span>
                                    <span class="buttons-actions hide-when-downloading">
                                        <ion-button
                                            (click)="exportAsImage(timeTable._id + '-inactive', tdate.innerText)"
                                            fill="clear" size="small" color="primary">
                                            <ion-icon name="download-outline" slot="icon-only" size="small"></ion-icon>
                                        </ion-button>
                                        <ion-button *ngIf="config.isAdmin || config.isHOD"
                                            [routerLink]="['/time-table/create', timeTable._id]" fill="clear"
                                            size="small" color="warning">
                                            <ion-icon name="create-outline" slot="icon-only" size="small"></ion-icon>
                                        </ion-button>
                                        <ion-button *ngIf="config.isAdmin || config.isHOD"
                                            (click)="deleteTimeTable(timeTable._id)" fill="clear" size="small"
                                            color="danger">
                                            <ion-icon name="trash-outline" slot="icon-only" size="small"></ion-icon>
                                        </ion-button>
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th width="50px">{{'hour' | string}}</th>
                                    <th *ngFor="let class of timeTable.classes">{{'class' | string}}
                                        {{class.class['name']}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                                <tr>
                                    <td>{{rowIndex + 1}}</td>
                                    <td *ngFor="let class of timeTable.classes">
                                        {{getClassHourAllocation(class.class['_id'],
                                        rowIndex, timeTable._id)}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ion-card-content>
                </ion-list>
            </ion-accordion>
        </ion-accordion-group>
    </ion-card>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="config.isHOD || config.isAdmin">
        <ion-fab-button [routerLink]="['/', 'time-table', 'create']">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div class="invisible-component">
        <ionic-selectable #dptList [formControl]="departmentControl" [items]="availableDpts" itemValueField="_id"
            itemTextField="name" [isMultiple]="false" [canSearch]="true" closeButtonSlot="end"
            [shouldFocusSearchbar]="true" [shouldStoreItemValue]="false">
            <ng-template ionicSelectableTitleTemplate>
                {{'choose' | string}} {{'department' | string}}
            </ng-template>
        </ionic-selectable>
    </div>
</ion-content>