<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button slot="end"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{commonService.getPluralWord(this.currentRole) | string}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-row class="v-center ion-justify-content-between">
      <ion-col size="auto" class="ion-text-start">
        <h6>{{commonService.getPluralWord(this.currentRole) | string}} {{'under' | string}} {{(collegeService.currentCollege$ | async)?.name}}</h6>
      </ion-col>
      <ion-col size="auto" class="ion-text-end">
        <ion-button color="success" size="small" (click)="showImportFacultyModal()">
          <ion-icon name="add"></ion-icon>
          {{'import' | string}}
        </ion-button>
        <ion-button color="primary" size="small" (click)="openStudentCreateModal()">
          <ion-icon name="add"></ion-icon>
          {{'add' | string}}
        </ion-button>
      </ion-col>
    </ion-row>
    <p-table responsiveLayout="stack" [value]="studentsData">
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th>{{'image' | string}}</th>
              <th>{{'name' | string}}</th>
              <th>{{'email' | string}}</th>
              <th>{{'customRoles' | string}}</th>
              <th>{{'actions' | string}}</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-student let-columns="columns">
          <tr>
              <td><span class="p-column-title">{{'image' | string}}</span>
                  <img [src]="student.image || 'assets/images/avatar.png'" alt="{{student.name}}" class="table-avatar" />
              </td>
              <td><span class="p-column-title">{{'name' | string}}</span>{{student.name}}</td>
              <td><span class="p-column-title">{{'email' | string}}</span>{{student.email}}</td>
              <td><span class="p-column-title">{{'customRoles' | string}}</span>
                {{getCustommRoles(student.customRoles)}}
              </td>
              <td><span class="p-column-title">{{'actions' | string}}</span>
                <ion-button color="warning" size="small" (click)="openStudentCreateModal(student)">
                  <ion-icon name="create"></ion-icon>
                  {{'edit' | string}}
                </ion-button>
                <ion-button color="danger" size="small" (click)="deleteStudent(student)">
                  <ion-icon name="trash"></ion-icon>
                  {{'delete' | string}}
                </ion-button>
              </td>
          </tr>
      </ng-template>
  </p-table>
  </ion-card>
</ion-content>
