<ion-content>
  <ion-list-header>
    <h2>{{ 'administration' | string }}</h2>
  </ion-list-header>
  <ion-grid class="ion-align-items-center ion-justify-content-center overflow-y-auto" #roleContainer ani>
    <ion-row class="">
      <ion-col size="12" size-md="6">
        <ion-card button class="v-center" [routerLink]="['/', 'dashboard', 'college', 'list']">
            <ion-row class="v-center">
              <ion-col size="5" class="v-center h-100">
                <img src="/assets/images/college.png" alt="">
              </ion-col>
              <ion-col size="7" class="">
                <h3><ion-text color="dark">{{'manage' | string}} {{'college' | string}}</ion-text></h3>
                <p><ion-text>{{'manageCollegeDescription' | string}}</ion-text></p>
              </ion-col>
            </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card button class="v-center" [routerLink]="['']">
            <ion-row class="v-center">
              <ion-col size="5" class="v-center h-100">
                <img src="/assets/images/user.webp" alt="">
              </ion-col>
              <ion-col size="7" class="">
                <h3><ion-text color="dark">{{'manage' | string}} {{'user' | string}}</ion-text></h3>
                <p><ion-text>{{'manageUserDescription' | string}}</ion-text></p>
              </ion-col>
            </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
