.cal-scheduler-view {
    .cal-scheduler {
        .cal-scheduler-hour.align-center.horizontal {
            background-color: var(--ion-color-primary) !important;
        }

        .cal-scheduler-hour.align-center.horizontal:hover {
            background-color: var(--ion-color-secondary) !important;
        }
    }

    .cal-scheduler-headers {
        background-color: var(--ion-color-primary) !important;

        .cal-header:hover {
            background-color: var(--ion-color-secondary) !important;
        }

        .cal-today {
            background-color: var(--ion-color-secondary) !important;
            color: var(--ion-color-step-100);
        }
    }

    .cal-scheduler-event {
        &-content {
            color: var(--ion-color-step-100) !important;
        }

        &-title {
            color: var(--ion-color-step-100) !important;
        }

        border: 1px solid var(--ion-color-step-100) !important;
    }
}

.cal-scheduler-time-segment:hover {
    background-color: var(--ion-color-secondary) !important;
    color: var(--ion-color-step-100);
}

.cal-scheduler-view .cal-scheduler .cal-scheduler-cols {
    background-color: var(--ion-color-primary) !important;
}
