$valuefor1: 10px;
$valuefor2: 20px;
$valuefor3: 30px;
$valuefor4: 40px;
$valuefor5: 60px;
$valuefor6: 70px;
$valueforn: 1 10px,
2 20px,
3 30px,
4 40px,
5 60px,
6 70px;

$bcolorvalues: "danger" #dc3545, "dark" var(--ion-color-step-100),
"warning" #ffc107,
"info" #101414,
"success" #198754,
"secondary" #6c757d,
"white" #fff,
"grey" #6c757d;


$valueforfontn: 1 5rem,
2 4.5rem,
3 4rem,
4 3.5rem,
5 3rem,
6 2.5rem;

$valueforhn: 1 2.5rem,
2 2rem,
3 1.75rem,
4 1.5rem,
5 1.25rem,
6 1rem;

$valueforfontweightn: "lighter" 200,
"light" 300,
"normal" 400,
"bold" 700,
"bolder" 800;

//Global Utility Styles

@each $name,
$val in $valueforfontweightn {
    .font-#{$name} {
        font-weight: $val !important;
    }
}

@each $i,
$val in $valueforn {
    .p-#{$i} {
        padding: #{$val};
    }

    .pl-#{$i} {
        padding-left: #{$val};
    }

    .pr-#{$i} {
        padding-right: #{$val};
    }

    .px-#{$i} {
        padding-left : #{$val};
        padding-right: #{$val};
    }

    .py-#{$i} {
        padding-top : #{$val};
        padding-bottom: #{$val};
    }

    .pt-#{$i} {
        padding-top: #{$val};
    }

    .pb-#{$i} {
        padding-bottom: #{$val};
    }

    .m-#{$i} {
        margin: #{$val};
    }

    .mx-#{$i} {
        margin-left : #{$val};
        margin-right: #{$val};
    }

    .my-#{$i} {
        margin-top : #{$val};
        margin-bottom: #{$val};
    }

    .mt-#{$i} {
        margin-top: #{$val};
    }

    .mb-#{$i} {
        margin-bottom: #{$val};
    }

    .ml-#{$i} {
        margin-left: #{$val};
    }

    .mr-#{$i} {
        margin-right: #{$val};
    }

}


@each $name,
$val in $bcolorvalues {
    .bg-#{$name} {
        background-color: #{$val};
    }

    .text-#{$name} {
        color: #{$val};
    }
}

.text-center {
    text-align: center
}

.text-end {
    text-align: end;
}

.text-start {
    text-align: start;
}

@each $i,
$val in $valueforfontn {
    .fs-#{$i} {
        font-size: #{$val};
    }
}

@each $i,
$val in $valueforhn {
    .h#{$i} {
        font-size : #{$val};
        font-weight: 700;
    }
}

.d-block {
    display: block;
}

.text-white {
    color: #fff;
}

.h-100 {
    height: 100%;
}

.v-100 {
    width: 100%;
}

.v-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.flex-dir-row {
    display: flex;
    flex-direction: row;
}

.flex-dir-column {
    display: flex;
    flex-direction: column;
}

// verflow related all classes
.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-x-visible {
    overflow-x: visible;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-y-visible {
    overflow-y: visible;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.overflow-y-auto {
    overflow-y: auto;
}

.border-rounded {
    border-radius: 1rem;
}

.max-height-50vh {
    max-height: 50vh;
}

.max-height-100vh {
    max-height: 100vh;
}

.max-height-25vh {
    max-height: 25vh;
}

.max-height-75vh {
    max-height: 75vh;
}

// bottom of box black inset shadow
.scrollbox-custom {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.invisible-component {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    z-index: -999;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}

.compact-card {
    max-height: 40vh;
    overflow-y: auto;
}

.p-element.p-datatable-tbody tr.clickable {
    cursor: pointer !important;
}

.p-element.p-datatable-tbody td img:not(.tutor-avatar) {
   height: 80px;
}

ion-card {
    .card-image {
        height: 20vh;
        border-radius: 6px;
        object-fit: contain;
    }
}

img.table-avatar {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
    object-fit: cover;
}
