.p-steps .p-steps-item .p-menuitem-link {
    background-color: unset !important;
}

.p-steps .p-steps-item.p-highlight span.p-steps-title {
    color: var(--ion-text-color) !important;
}

.p-listbox .p-listbox-list .p-listbox-item:focus {
    box-shadow: none !important;
}

a {
    text-decoration: none;
}

.img-w-25 {
    width: 25%;
}

.img-w-25-2 {
    width: 25%;
}

.img-w-50 {
    width: 50%;
}

.img-w-75 {
    width: 75%;
}

.img-v-100 {
    height: 100%;
}

[contenteditable] {
    -webkit-user-select: text !important;
    user-select: text;
}
.ql-editor.ql-blank::before {
    color: cadetblue;
}