.p-steps .p-steps-item .p-menuitem-link {
    background-color: unset !important;
}

.p-steps .p-steps-item.p-highlight span.p-steps-title {
    color: var(--ion-text-color) !important;
}

.p-listbox .p-listbox-list .p-listbox-item:focus {
    box-shadow: none !important;
}

a {
    text-decoration: none;
}

.img-w-25 {
    width: 25%;
}

.img-w-25-2 {
    width: 25%;
}

.img-w-50 {
    width: 50%;
}

.img-w-75 {
    width: 75%;
}

.img-v-100 {
    height: 100%;
}

[contenteditable] {
    -webkit-user-select: text !important;
    user-select: text;
}

.ql-editor.ql-blank::before {
    color: cadetblue;
}


@media screen and (max-width: 481px) {

    ul.frmb {
        min-height: 500px !important;
    }
}

@media screen and (min-width: 482px) {

    ul.frmb {
        min-height: 400px !important;
    }
}

.frmb-control.ui-sortable li {
    &:before {
        color: black;
    }

    color: black;
}

.frmb.stage-wrap.pull-left.ui-sortable {

    input[type=date],
    input[type=number] {
        width: 100% !important;
    }

    label, input, .form-control {
        color: black !important;
    }

    .form-group.access-wrap {
        display: none;
    }
}

.form-builder {
    .field-actions {
        opacity: 1 !important;

        * {
            opacity: 1 !important;
        }
    }

    &.form-wrap {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
}