.p-steps .p-steps-item .p-menuitem-link {
    background-color: unset !important;
}

.p-steps .p-steps-item.p-highlight span.p-steps-title {
    color: var(--ion-text-color) !important;
}

a {
    text-decoration: none;
}