<ion-list-header>
  <h2>{{ 'whoAreYou' | string }}</h2>
</ion-list-header>
<ion-grid class="ion-align-items-center ion-justify-content-center overflow-y-auto" #roleContainer ani>
  <ion-row class="">
    <ion-col size="12" size-md="6">
      <ion-card button class="v-center" [routerLink]="['', 'auth', 'signup', eUserRoles.admin]">
          <ion-row class="v-center">
            <ion-col size="5" class="v-center h-100">
              <img src="/assets/images/admin-user.png" alt="">
            </ion-col>
            <ion-col size="7" class="">
              <h3><ion-text color="dark">{{'college' | string}} {{'admin' | string}}</ion-text></h3>
              <p><ion-text>{{'adminDescription' | string}}</ion-text></p>
            </ion-col>
          </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6">
      <ion-card button class="v-center" [routerLink]="['', 'auth', 'signup', eUserRoles.faculty]">
          <ion-row class="v-center">
            <ion-col size="5" class="v-center h-100">
              <img src="/assets/images/faculty-user.png" alt="">
            </ion-col>
            <ion-col size="7" class="">
              <h3><ion-text color="dark">{{'faculty' | string}}</ion-text></h3>
              <p><ion-text>{{'facultyDescription' | string}}</ion-text></p>
            </ion-col>
          </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6">
      <ion-card button class="v-center" [routerLink]="['', 'auth', 'signup', eUserRoles.student]">
          <ion-row class="v-center">
            <ion-col size="5" class="v-center h-100">
              <img src="/assets/images/student-user.png" alt="">
            </ion-col>
            <ion-col size="7" class="">
              <h3><ion-text color="dark">{{'student' | string}}</ion-text></h3>
              <p><ion-text>{{'studentDescription' | string}}</ion-text></p>
            </ion-col>
          </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6">
      <ion-card button class="v-center" [routerLink]="['', 'auth', 'signup', eUserRoles.parent]">
          <ion-row class="v-center">
            <ion-col size="5" class="v-center h-100">
              <img src="/assets/images/parent-user.png" alt="">
            </ion-col>
            <ion-col size="7" class="">
              <h3><ion-text color="dark">{{'parent' | string}}</ion-text></h3>
              <p><ion-text>{{'parentDescription' | string}}</ion-text></p>
            </ion-col>
          </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
